<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1>
              <i class="fa fa-clock-o" aria-hidden="true"></i> Timestamp Microservice
            </h1>
            <small>First Challenge of Free Code Camp API Projects</small>
          </div>
          <div class="panel-body">
            <div class="input">
              <p>
                Click one of these links.
              </p>
              <p>
                <a href="https://mangrove-politician.glitch.me/timestamp/June%204%202016/" target="_blank">https://mangrove-politician.glitch.me/timestamp/June%204%202016/</a>
              </p>
              <p>
                <a href="https://mangrove-politician.glitch.me/timestamp/1464998400/" target="_blank">hhttps://mangrove-politician.glitch.me/timestamp/1464998400/</a>
              </p>
            </div>

            <div class="output ">
              <p>
                And you should see this result.
              </p>
              <p>
                {"unix":1464998400,"natural":"June 4, 2016"}
              </p>
            </div>
          </div>
        </div>
        
        <footer>
          <p class="text-center">by <a href="http://eiringonzales.com/" target="_blank">eirin gonzales</a></p>
        </footer>
      
      </div>
   </body>

</html>
