/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
/* 	background-color: #000; */
  padding-top: 40px;
}


h1 {
  display: inline-block;
  font-size: 25px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}

.output p:last-of-type {
  border-left: 4px solid #337ab7;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}